<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857285693803-jbcrc3p6buipv52vrenf6d8l8q5ai9eg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857285693803-jbcrc3p6buipv52vrenf6d8l8q5ai9eg</string>
	<key>API_KEY</key>
	<string>AIzaSyDoEOVai6eYw3Uhl2l0i6r-9-2snxCVPAA</string>
	<key>GCM_SENDER_ID</key>
	<string>857285693803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shipsapp.app</string>
	<key>PROJECT_ID</key>
	<string>baharfun-1e2e5</string>
	<key>STORAGE_BUCKET</key>
	<string>baharfun-1e2e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857285693803:ios:9e8918faded22a9e9a7c2e</string>
</dict>
</plist>